<font size=5, font color='blue'> stata_df is the dataframe downloaded through Stata API

In [34]:
import pandas as pd
pd.options.mode.chained_assignment = None

stata_df = pd.read_stata("UN.dta")
stata_df.head()

,regioncountryarea,country,year,series,value,footnotes,source
0,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),"6,985.60",,"United Nations Population Division, New York, ..."
1,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,"3,514.41",,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,Population mid-year estimates for females (mil...,"3,471.20",,"United Nations Population Division, New York, ..."
3,1,"Total, all countries or areas",2010,Sex ratio (males per 100 females),101.2,,"United Nations Population Division, New York, ..."
4,1,"Total, all countries or areas",2010,Population aged 0 to 14 years old (percentage),27.1,,"United Nations Population Division, New York, ..."

<font size=5, font color='blue'> python_df is the dataframe downloaded through Python API.

In [35]:
python_df = pd.read_pickle("UN.pkl")
python_df.head()

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",1995,GDP in current prices (millions of US dollars),"31,269,041",NaN,"United Nations Statistics Division, New York, ..."
1,1,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,775,404",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2010,GDP in current prices (millions of US dollars),"66,578,017",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2015,GDP in current prices (millions of US dollars),"75,283,835",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2019,GDP in current prices (millions of US dollars),"87,728,744",NaN,"United Nations Statistics Division, New York, ..."

In [36]:
python_df.rename(columns={'Unnamed: 1':'country', 'Year':'year', 'Series':'series', 'Value':'value'}, inplace=True)
python_df['year'] = python_df['year'].astype('int16')

<font size=5, font color='blue'> Check whether the two dataframes have the same number of rows, which means equal number of data points / observations. Column numbers of the two dataframes may differ due to the difference between Stata and Python APIs, and so do the order, datatypes and names of columns and the order of rows, which is why we don't require a complete match between python_df and stata_df.

In [37]:
stata_df.shape[0]==python_df.shape[0]

True

<font size=5, font color='blue'> Check whether ['country','year','series'] can identify a unique row in both stata_df and python_df, if not then there is a duplication or error in UN data.

In [38]:
sum(stata_df.duplicated(subset=['country','year','series']))+sum(python_df.duplicated(subset=['country','year','series'])) == 0

True

<font size=5, font color='blue'> Then we sort the two dataframes by ['country','year','series']. This ensures observations in the two dataframes are in the same order. Finally we check whether the two sub-frames [['country','year','series', 'value']] sliced from stata_df and python_df are exactly the same.

In [39]:
cols = ['country','year','series']
stata_sub = stata_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
python_sub = python_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
stata_sub.equals(python_sub)

True