In [1]:
import pandas as pd

from dbnomics import fetch_series

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
datasets=['XUNRQ-1','ISN','ILN','UXGS','UMGS','UCNT','UIGT','UITT','UVGD','OVGD','NPTD','NUTN','ZCPIN']

In [3]:
df_all = []

for dataset in datasets:
    if dataset in ['ISN','ILN']:
        dimension = {'unit':['-']}
    else:
        dimension = {}
    df_all.append(fetch_series("AMECO", dataset, dimensions=dimension, max_nb_series=1000000))
    
df = pd.concat(df_all,ignore_index=True)
df.head(20)

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,freq,unit,geo,Frequency,Unit,Country
0,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1960,1960-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
1,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1961,1961-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
2,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1962,1962-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
3,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1963,1963-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
4,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1964,1964-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
5,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1965,1965-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
6,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1966,1966-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
7,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1967,1967-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
8,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1968,1968-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
9,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1969,1969-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
10,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1970,1970-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
11,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1971,1971-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
12,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1972,1972-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
13,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1973,1973-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
14,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1974,1974-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
15,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1975,1975-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
16,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1976,1976-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
17,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1977,1977-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
18,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1978,1978-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia
19,annual,AMECO,XUNRQ-1,"Real effective exchange rates, based on unit l...",AUS.3.0.30.424.XUNRQ,Annually – (2015 = 100) – Australia,1979,1979-01-01,NA,NaN,a,2015-100,aus,Annually,(2015 = 100),Australia

In [4]:
df.to_csv('AMECO.csv')

In [5]:
df.to_pickle("AMECO.pkl")

In [6]:
df1 = pd.read_pickle("AMECO.pkl")
df1.equals(df)

True