<font size=5, font color='blue'> stata_df is the dataframe downloaded through Stata API

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

stata_df = pd.read_stata("IMF_GFS.dta")
stata_df.head()

,period,period_start_day,value,BASES_OF_RECORDING_CASH_NON_CASH,BASES_OF_RECORDING_GROSSNET,NATURE_OF_DATA,VALUATION,_frequency,dataset_code,dataset_name,...,FREQ,REF_AREA,REF_SECTOR,UNIT_MEASURE,indexed_at,provider_code,series_code,series_name,series_num,OBS_STATUS
0,1972,1972-01-01,NA,"""""",NP,"""""",NP,annual,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",...,A,AD,S1311,XDC,2025-06-08T07:00:45.338Z,IMF,A.AD.S1311.XDC.G1__Z,Annual \u2013 Andorra \u2013 Central governmen...,Master,
1,1973,1973-01-01,NA,"""""",NP,"""""",NP,annual,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",...,A,AD,S1311,XDC,2025-06-08T07:00:45.338Z,IMF,A.AD.S1311.XDC.G1__Z,Annual \u2013 Andorra \u2013 Central governmen...,Master,
2,1974,1974-01-01,NA,"""""",NP,"""""",NP,annual,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",...,A,AD,S1311,XDC,2025-06-08T07:00:45.338Z,IMF,A.AD.S1311.XDC.G1__Z,Annual \u2013 Andorra \u2013 Central governmen...,Master,
3,1975,1975-01-01,NA,"""""",NP,"""""",NP,annual,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",...,A,AD,S1311,XDC,2025-06-08T07:00:45.338Z,IMF,A.AD.S1311.XDC.G1__Z,Annual \u2013 Andorra \u2013 Central governmen...,Master,
4,1976,1976-01-01,NA,"""""",NP,"""""",NP,annual,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",...,A,AD,S1311,XDC,2025-06-08T07:00:45.338Z,IMF,A.AD.S1311.XDC.G1__Z,Annual \u2013 Andorra \u2013 Central governmen...,Master,

<font size=5, font color='blue'> python_df is the dataframe downloaded through Python API.

In [2]:
python_df = pd.read_pickle("IMF_GFS.pkl")
python_df.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,FREQ,REF_AREA,REF_SECTOR,UNIT_MEASURE,CLASSIFICATION,Frequency,Reference Area,Reporting Institutional Sector,Unit of Measure,Classification
0,annual,IMF,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",A.AD.S1311B.XDC_R_B1GQ.GNLB__Z,Annual – Andorra – Budgetary central governmen...,1972,1972-01-01,NA,NaN,A,AD,S1311B,XDC_R_B1GQ,GNLB__Z,Annual,Andorra,Budgetary central government,Percent of GDP,Net lending (+) / Net borrowing (-)
1,annual,IMF,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",A.AD.S1311B.XDC_R_B1GQ.GNLB__Z,Annual – Andorra – Budgetary central governmen...,1973,1973-01-01,NA,NaN,A,AD,S1311B,XDC_R_B1GQ,GNLB__Z,Annual,Andorra,Budgetary central government,Percent of GDP,Net lending (+) / Net borrowing (-)
2,annual,IMF,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",A.AD.S1311B.XDC_R_B1GQ.GNLB__Z,Annual – Andorra – Budgetary central governmen...,1974,1974-01-01,NA,NaN,A,AD,S1311B,XDC_R_B1GQ,GNLB__Z,Annual,Andorra,Budgetary central government,Percent of GDP,Net lending (+) / Net borrowing (-)
3,annual,IMF,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",A.AD.S1311B.XDC_R_B1GQ.GNLB__Z,Annual – Andorra – Budgetary central governmen...,1975,1975-01-01,NA,NaN,A,AD,S1311B,XDC_R_B1GQ,GNLB__Z,Annual,Andorra,Budgetary central government,Percent of GDP,Net lending (+) / Net borrowing (-)
4,annual,IMF,GFSMAB,"Government Finance Statistics (GFS), Main Aggr...",A.AD.S1311B.XDC_R_B1GQ.GNLB__Z,Annual – Andorra – Budgetary central governmen...,1976,1976-01-01,NA,NaN,A,AD,S1311B,XDC_R_B1GQ,GNLB__Z,Annual,Andorra,Budgetary central government,Percent of GDP,Net lending (+) / Net borrowing (-)

<font size=5, font color='blue'> Check whether the two dataframes have the same number of rows, which means equal number of data points / observations. Column numbers of the two dataframes may differ due to the difference between Stata and Python APIs, and so do the order, datatypes and names of columns and the order of rows, which is why we don't require a complete match between python_df and stata_df.

In [3]:
stata_df.shape[0]==python_df.shape[0]

False

In [4]:
stata_df.shape

(67792, 21)

In [5]:
python_df.shape

(77984, 20)

In [6]:
python_df.isna().sum()

@frequency                            0
provider_code                         0
dataset_code                          0
dataset_name                          0
series_code                           0
series_name                           0
original_period                       0
period                                0
original_value                        0
value                             54804
FREQ                                  0
REF_AREA                              0
REF_SECTOR                            0
UNIT_MEASURE                          0
CLASSIFICATION                        0
Frequency                             0
Reference Area                        0
Reporting Institutional Sector        0
Unit of Measure                       0
Classification                        0
dtype: int64

In [8]:
stata_df.isna().sum()

period                              0
period_start_day                    0
value                               0
BASES_OF_RECORDING_CASH_NON_CASH    0
BASES_OF_RECORDING_GROSSNET         0
NATURE_OF_DATA                      0
VALUATION                           0
_frequency                          0
dataset_code                        0
dataset_name                        0
CLASSIFICATION                      0
FREQ                                0
REF_AREA                            0
REF_SECTOR                          0
UNIT_MEASURE                        0
indexed_at                          0
provider_code                       0
series_code                         0
series_name                         0
series_num                          0
OBS_STATUS                          0
dtype: int64

In [9]:
stata_df[(stata_df['value']=='NA')|(stata_df['value']=='')].shape[0]

47451

In [10]:
python_df.rename(columns={'period':'period_start_day'},inplace=True)
stata_df['period_start_day'] = pd.to_datetime(stata_df['period_start_day'])
python_df['period_start_day'] = pd.to_datetime(python_df['period_start_day'])
stata_df['value'] = pd.to_numeric(stata_df['value'],'coerce').astype('float64')
python_df['value'] = python_df['value'].astype('float64')

In [13]:
cols = ['period_start_day', 'series_code']
sum(stata_df.duplicated(subset=cols))+sum(python_df.duplicated(subset=cols)) == 0

True

In [14]:
stata_sub = stata_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
python_sub = python_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
stata_sub.equals(python_sub)

False

In [19]:
stata_sub[stata_sub.notna().all(axis=1)]

      period_start_day                     series_code        value
80          1972-01-01           A.AU.S1311.XDC.G11__Z     7.948000
81          1972-01-01            A.AU.S1311.XDC.G1__Z     9.087000
82          1972-01-01           A.AU.S1311.XDC.G2M__Z     8.240000
83          1972-01-01   A.AU.S1311.XDC_R_B1GQ.GNLB__Z     1.826494
112         1972-01-01           A.BB.S1311.XDC.G11__Z    94.100000
...                ...                             ...          ...
67747       2023-01-01   A.SV.S1311.XDC_R_B1GQ.GNLB__Z    -0.558159
67748       2023-01-01          A.SV.S1311B.XDC.G11__Z  7009.538793
67749       2023-01-01           A.SV.S1311B.XDC.G1__Z  7688.838793
67750       2023-01-01          A.SV.S1311B.XDC.G2M__Z  7996.600000
67751       2023-01-01  A.SV.S1311B.XDC_R_B1GQ.GNLB__Z    -0.904765

[20341 rows x 3 columns]

In [20]:
python_sub[python_sub.notna().all(axis=1)]

      period_start_day                     series_code         value
80          1972-01-01           A.AU.S1311.XDC.G11__Z      7.948000
81          1972-01-01            A.AU.S1311.XDC.G1__Z      9.087000
82          1972-01-01           A.AU.S1311.XDC.G2M__Z      8.240000
83          1972-01-01   A.AU.S1311.XDC_R_B1GQ.GNLB__Z      1.826494
112         1972-01-01           A.BB.S1311.XDC.G11__Z     94.100000
...                ...                             ...           ...
77919       2023-01-01  A.UZ.S1311B.XDC_R_B1GQ.GNLB__Z     -4.511890
77932       2023-01-01          A.VU.S1311B.XDC.G11__Z  23354.527531
77933       2023-01-01           A.VU.S1311B.XDC.G1__Z  46046.017256
77934       2023-01-01          A.VU.S1311B.XDC.G2M__Z  45102.884611
77935       2023-01-01  A.VU.S1311B.XDC_R_B1GQ.GNLB__Z      0.731500

[23180 rows x 3 columns]

In [22]:
stata_sub.iloc[67751]

period_start_day               2023-01-01 00:00:00
series_code         A.SV.S1311B.XDC_R_B1GQ.GNLB__Z
value                                    -0.904765
Name: 67751, dtype: object