In [1]:
import pandas as pd

from dbnomics import fetch_series, fetch_series_by_api_link

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
dataframes = [fetch_series("TCMB", "CPI", max_nb_series=10000),
              fetch_series("TCMB", "CPIREER", max_nb_series=10000)]
df = pd.concat(dataframes,ignore_index=True)
df.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,frequency,Frequency
0,monthly,TCMB,CPI,Consumer Price Index (2003=100) (TURKSTAT),cpimtm,CPI (Month to Month % Changes),2005-01,2005-01-01,0.55,0.55,M,Monthly
1,monthly,TCMB,CPI,Consumer Price Index (2003=100) (TURKSTAT),cpimtm,CPI (Month to Month % Changes),2005-02,2005-02-01,0.02,0.02,M,Monthly
2,monthly,TCMB,CPI,Consumer Price Index (2003=100) (TURKSTAT),cpimtm,CPI (Month to Month % Changes),2005-03,2005-03-01,0.26,0.26,M,Monthly
3,monthly,TCMB,CPI,Consumer Price Index (2003=100) (TURKSTAT),cpimtm,CPI (Month to Month % Changes),2005-04,2005-04-01,0.71,0.71,M,Monthly
4,monthly,TCMB,CPI,Consumer Price Index (2003=100) (TURKSTAT),cpimtm,CPI (Month to Month % Changes),2005-05,2005-05-01,0.92,0.92,M,Monthly

In [3]:
df.to_csv('TUR_1.csv')

In [4]:
df.to_pickle('TUR_1.pickle')

In [6]:
df1 = pd.read_pickle('TUR_1.pickle')
df1.equals(df)

True