<font size=5, font color='blue'> stata_df is the dataframe downloaded through Stata API

In [59]:
import pandas as pd
pd.options.mode.chained_assignment = None

stata_df = pd.read_stata("IMF_WEO.dta")
stata_df.head()

,period,value,dataset_code,dataset_name,unit,weo_country,weo_subject,provider_code,series_code,series_name
0,1980,NA,WEO:2025-04,World Economic Outlook by countries,pcent_gdp,ABW,BCA_NGDPD,IMF,ABW.BCA_NGDPD.pcent_gdp,Aruba – Current account balance (BCA_NGDPD) – ...
1,1981,NA,WEO:2025-04,World Economic Outlook by countries,pcent_gdp,ABW,BCA_NGDPD,IMF,ABW.BCA_NGDPD.pcent_gdp,Aruba – Current account balance (BCA_NGDPD) – ...
2,1982,NA,WEO:2025-04,World Economic Outlook by countries,pcent_gdp,ABW,BCA_NGDPD,IMF,ABW.BCA_NGDPD.pcent_gdp,Aruba – Current account balance (BCA_NGDPD) – ...
3,1983,NA,WEO:2025-04,World Economic Outlook by countries,pcent_gdp,ABW,BCA_NGDPD,IMF,ABW.BCA_NGDPD.pcent_gdp,Aruba – Current account balance (BCA_NGDPD) – ...
4,1984,NA,WEO:2025-04,World Economic Outlook by countries,pcent_gdp,ABW,BCA_NGDPD,IMF,ABW.BCA_NGDPD.pcent_gdp,Aruba – Current account balance (BCA_NGDPD) – ...

<font size=5, font color='blue'> python_df is the dataframe downloaded through Python API.

In [60]:
python_df = pd.read_pickle("IMF_WEO.pkl")
python_df.head()

,period,value,dataset_code,dataset_name,unit,weo_subject,provider_code,series_code,series_name
0,1980-01-01,NaN,WEO:2025-04,World Economic Outlook by countries,national_currency,NGDP,IMF,ABW.NGDP.national_currency,"Aruba – Gross domestic product, current prices..."
1,1981-01-01,NaN,WEO:2025-04,World Economic Outlook by countries,national_currency,NGDP,IMF,ABW.NGDP.national_currency,"Aruba – Gross domestic product, current prices..."
2,1982-01-01,NaN,WEO:2025-04,World Economic Outlook by countries,national_currency,NGDP,IMF,ABW.NGDP.national_currency,"Aruba – Gross domestic product, current prices..."
3,1983-01-01,NaN,WEO:2025-04,World Economic Outlook by countries,national_currency,NGDP,IMF,ABW.NGDP.national_currency,"Aruba – Gross domestic product, current prices..."
4,1984-01-01,NaN,WEO:2025-04,World Economic Outlook by countries,national_currency,NGDP,IMF,ABW.NGDP.national_currency,"Aruba – Gross domestic product, current prices..."

<font size=5, font color='blue'> Check whether the two dataframes have the same number of rows, which means equal number of data points / observations. Column numbers of the two dataframes may differ due to the difference between Stata and Python APIs, and so do the order, datatypes and names of columns and the order of rows, which is why we don't require a complete match between python_df and stata_df.

In [61]:
stata_df.shape[0]==python_df.shape[0]

True

In [62]:
stata_df['value'] = pd.to_numeric(stata_df['value'],'coerce').astype('float64')
python_df['value'] = python_df['value'].astype('float64')
python_df['period'] = python_df['period'].dt.year.astype('int16')

<font size=5, font color='blue'> Check whether ['period', 'series_code'] can identify a unique row in both stata_df and python_df, if not then there is a duplication or error in Dbnomics.

In [63]:
cols = ['period', 'series_code']
sum(stata_df.duplicated(subset=cols))+sum(python_df.duplicated(subset=cols)) == 0

True

<font size=5, font color='blue'> Then we sort the two dataframes by ['period', 'series_code']. This ensures observations in the two dataframes are in the same order. Finally we check whether the two sub-frames [['period','series_code','value']] sliced from stata_df and python_df are exactly the same.

In [64]:
stata_sub = stata_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
python_sub = python_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
stata_sub.equals(python_sub)

True