<font size=5, font color='blue'> stata_df is the dataframe downloaded through Stata API

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

stata_df = pd.read_stata("EUS.dta")
stata_df.head()

,period,value,dataset_name,geo,series_code,series_name
0,1995,113.95681,"Real effective exchange rate – index, 42 tradi...",AT,A.REER_IC42_CPI.I15.AT,Annual – Real effective exchange rate (deflato...
1,1996,109.33398,"Real effective exchange rate – index, 42 tradi...",AT,A.REER_IC42_CPI.I15.AT,Annual – Real effective exchange rate (deflato...
2,1997,104.45319,"Real effective exchange rate – index, 42 tradi...",AT,A.REER_IC42_CPI.I15.AT,Annual – Real effective exchange rate (deflato...
3,1998,104.63866,"Real effective exchange rate – index, 42 tradi...",AT,A.REER_IC42_CPI.I15.AT,Annual – Real effective exchange rate (deflato...
4,1999,103.90292,"Real effective exchange rate – index, 42 tradi...",AT,A.REER_IC42_CPI.I15.AT,Annual – Real effective exchange rate (deflato...

In [2]:
stata_df.shape

(52057, 6)

In [5]:
stata_df.isna().sum()

period            0
value           141
dataset_name      0
geo               0
series_code       0
series_name       0
dtype: int64

In [4]:
stata_df[(stata_df['value']=='NA')|(stata_df['value']=='')].shape[0]

0

<font size=5, font color='blue'> python_df is the dataframe downloaded through Python API.

In [6]:
python_df = pd.read_pickle("EUS.pkl")
python_df.head()

,period,value,geo,dataset_name,series_code,series_name
0,2015-12-01,100.00,AL,Harmonised index of consumer prices - monthly ...,M.HICP2015.NSA.CP-HI00.AL,"Monthly – Harmonized consumer price index, 201..."
1,2016-01-01,101.00,AL,Harmonised index of consumer prices - monthly ...,M.HICP2015.NSA.CP-HI00.AL,"Monthly – Harmonized consumer price index, 201..."
2,2016-02-01,102.28,AL,Harmonised index of consumer prices - monthly ...,M.HICP2015.NSA.CP-HI00.AL,"Monthly – Harmonized consumer price index, 201..."
3,2016-03-01,102.80,AL,Harmonised index of consumer prices - monthly ...,M.HICP2015.NSA.CP-HI00.AL,"Monthly – Harmonized consumer price index, 201..."
4,2016-04-01,102.31,AL,Harmonised index of consumer prices - monthly ...,M.HICP2015.NSA.CP-HI00.AL,"Monthly – Harmonized consumer price index, 201..."

In [7]:
python_df.shape

(51711, 6)

In [8]:
python_df.isna().sum()

period            0
value           141
geo               0
dataset_name      0
series_code       0
series_name       0
dtype: int64

In [9]:
stata_df.duplicated().sum()

0