In [1]:
import pandas as pd

from dbnomics import fetch_series, fetch_series_by_api_link

In [2]:
df = fetch_series("INE-SPAIN", "30680", dimensions={'units': ['euros']}, max_nb_series=1000000)
df.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,...,nac,units,Type of data,GOODS AND SERVICES TRANSACTIONS,ACCOUNTING BALANCES,GFCG GOODS AND SERVICES TRANSACTION,Prices_ESA,Correction of effects,National Total,Units
0,quarterly,INE-SPAIN,30680,1.3 GDP mp Demand (Current prices),CNTR4757,National Total. Seasonally and calendar adjust...,1995-Q1,1995-01-01,112760.0,112760.0,...,00,euros,Base data,NaN,Gross domestic product at market prices,NaN,Current prices,Seasonally and calendar adjusted data,National Total,Euros
1,quarterly,INE-SPAIN,30680,1.3 GDP mp Demand (Current prices),CNTR4757,National Total. Seasonally and calendar adjust...,1995-Q2,1995-04-01,114401.0,114401.0,...,00,euros,Base data,NaN,Gross domestic product at market prices,NaN,Current prices,Seasonally and calendar adjusted data,National Total,Euros
2,quarterly,INE-SPAIN,30680,1.3 GDP mp Demand (Current prices),CNTR4757,National Total. Seasonally and calendar adjust...,1995-Q3,1995-07-01,115628.0,115628.0,...,00,euros,Base data,NaN,Gross domestic product at market prices,NaN,Current prices,Seasonally and calendar adjusted data,National Total,Euros
3,quarterly,INE-SPAIN,30680,1.3 GDP mp Demand (Current prices),CNTR4757,National Total. Seasonally and calendar adjust...,1995-Q4,1995-10-01,117799.0,117799.0,...,00,euros,Base data,NaN,Gross domestic product at market prices,NaN,Current prices,Seasonally and calendar adjusted data,National Total,Euros
4,quarterly,INE-SPAIN,30680,1.3 GDP mp Demand (Current prices),CNTR4757,National Total. Seasonally and calendar adjust...,1996-Q1,1996-01-01,119460.0,119460.0,...,00,euros,Base data,NaN,Gross domestic product at market prices,NaN,Current prices,Seasonally and calendar adjusted data,National Total,Euros

In [3]:
df.to_csv('ESP_1.csv')

In [4]:
df.to_pickle('ESP_1.pickle')

In [5]:
df1 = pd.read_pickle('ESP_1.pickle')
df1.equals(df)

True