In [1]:
import pandas as pd

from dbnomics import fetch_series, fetch_series_by_api_link
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
datasets = ['TABEL1_1', 'TABEL1_2', 'TABEL1_25', 'TABEL4_1', 'TABEL4_2', 'TABEL4_3', 'TABEL4_4', 'TABEL5_1', 'TABEL5_40', 'TABEL7_1', 'TABEL7_3', 'TABEL7_6', 'TABEL8_1']

In [3]:
df = pd.concat([fetch_series("BI", dataset, dimensions={"freq": ['A']}, max_nb_series=1000000) for dataset in datasets], ignore_index=True)
df['REF_AREA']='IDN'
df.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,freq,Frequency,REF_AREA
0,annual,BI,TABEL1_1,I.1. BROAD MONEY AND ITS AFFECTING FACTORS (Bi...,1.A,Broad Money (M2) - Annual,2010,2010-01-01,2471205.79,2471205.79,A,Annual,IDN
1,annual,BI,TABEL1_1,I.1. BROAD MONEY AND ITS AFFECTING FACTORS (Bi...,1.A,Broad Money (M2) - Annual,2011,2011-01-01,2877219.57,2877219.57,A,Annual,IDN
2,annual,BI,TABEL1_1,I.1. BROAD MONEY AND ITS AFFECTING FACTORS (Bi...,1.A,Broad Money (M2) - Annual,2012,2012-01-01,3307507.55,3307507.55,A,Annual,IDN
3,annual,BI,TABEL1_1,I.1. BROAD MONEY AND ITS AFFECTING FACTORS (Bi...,1.A,Broad Money (M2) - Annual,2013,2013-01-01,3730409.35,3730409.35,A,Annual,IDN
4,annual,BI,TABEL1_1,I.1. BROAD MONEY AND ITS AFFECTING FACTORS (Bi...,1.A,Broad Money (M2) - Annual,2014,2014-01-01,4173326.5,4173326.50,A,Annual,IDN

In [4]:
df.to_csv('IDN_1.csv')

In [5]:
df.to_pickle('IDN_1.pickle')

In [6]:
df1 = pd.read_pickle('IDN_1.pickle')
df1.equals(df)

True