In [3]:
import pandas as pd

from dbnomics import fetch_series, fetch_series_by_api_link

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
datasets = ['ABOP','AFT','AGG','APF','AINV','AMON','ANA','APOP','APRI']

In [4]:
dataframes = [fetch_series("STATPOL", dataset, dimensions={"FREQ": ['A']}, max_nb_series=1000000) for dataset in datasets]
df = pd.concat(dataframes, ignore_index=True)
df.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,FREQ,Frequency
0,annual,STATPOL,ABOP,BALANCE OF PAYMENTS,ABOP-10,Current account of the balance of payments - b...,2000,2000-01-01,NA,NaN,A,Annually
1,annual,STATPOL,ABOP,BALANCE OF PAYMENTS,ABOP-10,Current account of the balance of payments - b...,2001,2001-01-01,NA,NaN,A,Annually
2,annual,STATPOL,ABOP,BALANCE OF PAYMENTS,ABOP-10,Current account of the balance of payments - b...,2002,2002-01-01,NA,NaN,A,Annually
3,annual,STATPOL,ABOP,BALANCE OF PAYMENTS,ABOP-10,Current account of the balance of payments - b...,2003,2003-01-01,NA,NaN,A,Annually
4,annual,STATPOL,ABOP,BALANCE OF PAYMENTS,ABOP-10,Current account of the balance of payments - b...,2004,2004-01-01,-6483.0,-6483.0,A,Annually

In [5]:
df.to_csv('POL_1.csv')

In [6]:
df.to_pickle('POL_1.pickle')

In [7]:
df1 = pd.read_pickle('POL_1.pickle')
df1.equals(df)

True